---
title: "Setting up SSO & Domain Verification"
url: "https://docs.aline.co/en/articles/13006494-setting-up-sso-domain-verification"
date: "2025-12-04"
feed_url: "https://docs.aline.co/en/feed.xml"
---
Enable Single Sign-On (SSO) in Aline to simplify and secure how your team logs in.With SSO, users can access Aline using their existing company credentials — reducing password fatigue and improving security compliance.
